@import url('https://fonts.googleapis.com/css?family=Bitter|Bungee+Inline|Didact+Gothic|Montserrat|Poppins');


/* DIVS PRINCIPAIS */
#login, #filmes, #sessao, #lugares, #ingresso, #finalizar{
    width: 100%;
    height: auto;
    padding: 20px; 
}

#login{
    width: 100%;
    height: 100vh;
    padding: 20px;
    font-family: 'Bitter', serif;
}

#filmes, #lugares, #finalizar{
    background: #222;
    color: #fff;
    font-family: 'Bitter', serif;
}

/* OUTROS */

/* FILMES */

.filme{
    height: 400px;
    overflow: hidden;
    padding: 0;
    border: 10px solid transparent;
}

.filme .poster{
    width: 100%;
    height:375px;
    transition: 0.2s;
}

.filme .poster:hover{
    -webkit-transform: scale(1.2);
    transition: 0.4s;
}

.filme .info-filme{
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(0,0,0,0)),
        to(rgba(0,0,0,1)), color-stop(.4, #000)
    );
}

/*.filme .info-filme img.classif{
    float: right;
    right: 0;
    width: 30px;
    height: 30px;
}
*/

.classification-12{
    position: absolute;
    right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#ffcb05;
    padding:2px;
    font-size:11px;
    border:1px solid #ffcb05;
    font-family: 'Bitter', serif;
}


.classification-14{
    position: absolute;
    right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#f58220;;
    padding:2px;
    font-size:11px;
    border:1px solid #f58220;;
    font-family: 'Bitter', serif;
}

.classification-16{
    position: absolute;
    right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#ec1d25;
    padding:2px;
    font-size:11px;
    border:1px solid #ec1d25;
    font-family: 'Bitter', serif;
}
/* lugares */
.table{
    overflow: hidden;
}

#lugares .table th{
    border: none;
    text-align: center;
    
}

#lugares .table tr td{
    font-family: 'Bungee Inline', cursive;
    background-color: black;
    padding: 10px;
    border: 3px solid #222;
    color: #000;
    /*background: radial-gradient(circle closest-side,#000 0%,#000 100%,rgba(0,1,0,0) 100%);*/
    text-align: center;
}
#lugares .table tr td:hover{
    background: red !important;
    cursor: pointer;
    color: #fff !important;
    /*background: radial-gradient(circle closest-side,#f00 0%,#f00 100%,rgba(0,1,0,0) 100%) !important;*/
}


/* INFO/SINOPSE */
.logo-background{
    margin-top:20px;
    width: 340px;
    height: 443px;
}
.titulo-filme{
    font-size:30px;
    font-family: 'Bungee Inline', cursive;
    color:#696969;
    
}

.sinopse{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.sinopse ul{
    padding:0;
    list-style:none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.description{
    font-size: 14px;
    margin-top:20px;
}
.genero-filme{
    border: 1px solid #000;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    font-size:12px;
    margin-right:3px;
}
.classificacao-filme{
    border-radius:4px;
    background: #ffcb05;
    color:white;
    font-size: 12px;
    font-family: 'Bungee Inline', cursive;
    padding:3px;
    margin-right:3px;
    margin-left:3px;
}
.duracao-filme{
    font-weight:bold;
    font-size: 14px;
    font-family: 'Didact Gothic', sans-serif;
}
.txt2 {
    float:left;
    padding-left:10px;
    margin-bottom:10px;
    font-size: 16px;
    font-family: 'Didact Gothic', sans-serif;
}

/*Finalizar*/

.card{
    padding:3px;
    font-family: 'Bitter', serif;
    font-size: 16px;
    border:10px solid #222;
}

.boleto{
    padding:3px;
    font-family: 'Bitter', serif;
    font-size: 16px;
    border:10px solid #222;
}

#boleto{
    display: none;
}